body {
    margin: 0;
    background-image: url("../assets/backgrounds/sky.PNG");
    background-size: cover;
}

/* Game container */
#game {
    width: 1280px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(160, 8px);
    grid-template-rows: repeat(120, 8px);
    margin: 40px auto;
}

/* Base tile */
/* 
this creates a base style for all tiles in the game, 
setting their size and ensuring that any 
borders or padding are included in the total dimensions of the tile. 
I know we want to make this bigger eventually, just made it this small for testing purposes.
whoever is doing the screen following the character can blow this up to fill our screen.
*/
.tile {
    width: 8px;
    height: 8px;
    box-sizing: border-box;
}