html, body {
    height: 100%;
    overflow: hidden;
}

.bg-image {
    background-image: url("../assets/backgrounds/temp-menu-clouds-background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-attachment: fixed;
    background-size: cover;
}

.transparent-edges {
    /* Could set the background to an image if you wanted to */

    /* background-image: url("");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover; */

    background: linear-gradient(90deg, rgba(33, 40, 46, 1) 10%, rgba(47, 47, 56, 1) 41%, rgba(64, 65, 74, 1) 74%);  
}

.btn-hover:hover {
    /* background-color: rgb(217, 77, 230); */
    background: rgba(217, 77, 230, .85);
    border-color: rgba(217, 77, 230, .845);
}

.btn-custom-color  {
    background: linear-gradient(90deg, rgb(46, 55, 62) 10%, rgb(71, 71, 82) 41%, rgb(80, 81, 90) 74%); 
    border-color: white;
}